.fondo{
    background-image: url(../img/fondomascota.jpg);
    background-size: 100%;
}

body{
     font-family: 'EB Garamond', serif;
     color: black;
}

h2, selection, nav, p{
    text-align: center;
}
h1{ 
    font-size: 350%;
    -webkit-text-stroke: 1px rgb(9, 24, 160);
    color: transparent;
    text-align: center;
}

a{
    text-decoration:none;
    font-weight:600;
    font-size:20px;
    color:#ffffff;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:40px;
    padding-right:40px;
    background-color:#005BBB;
    border-radius: 3px;
}

*{  
    margin: 2;
    padding: 2;
    box-sizing: border-box;
}

form{   
    margin: 0 auto;
    width: 300px ;
    padding: 20px;
    background-color:#005BBB;
    border-radius: 3px;
}